/* less style */
/* For tablets*/
@media only screen and (min-width: 600px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
/*For desktop*/
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  [class*="col-"] {
    width: 100%;
  }
}
/*variables*/
body {
  font-family: Roboto;
  color: #2196F3;
  margin: 0;
}
article,
header,
nav,
section {
  display: block;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.button {
  color: white;
  background-color: #2196F3;
  padding: 10px 20px;
  border: none;
}
.header_container {
  display: flex;
  justify-content: center;
  padding: 15px;
  text-align: center;
}
.header_container h1 {
  margin: 40px 2%;
}
.header_container h2 {
  margin-top: 40px;
}
.header_container ul {
  margin-top: 0;
}
.header_container ul li {
  padding: 7px;
  font-size: 1.25em;
}
.header_container ul li button {
  color: white;
  background-color: #2196F3;
  padding: 10px 20px;
  border: none;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #2196F3;
  padding: 20px;
}
.nav li a {
  color: white;
}
.nav li a:hover {
  color: white;
}
@media only screen and (max-width: 828px) {
  .nav {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  .header_container {
    display: block;
    text-align: center;
  }
  .header_container h1 {
    font-size: 1.5em;
    margin: 7px;
  }
  .header_container h2 {
    font-size: 1.25em;
    margin: 7px;
  }
  .header_container ul {
    padding-left: 0px;
    margin: 7px;
  }
  .header_container ul li {
    list-style: none;
    font-size: 1.25em;
  }
  [class*="col-"] {
    width: 100%;
  }
}
