/* less style */
/* For tablets*/
@media only screen and (min-width: 600px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
/*For desktop*/
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  [class*="col-"] {
    width: 100%;
  }
}
/*variables*/
body {
  font-family: Roboto;
  color: #2196F3;
  margin: 0;
}
article,
header,
nav,
section {
  display: block;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
}
.button {
  color: white;
  background-color: #2196F3;
  padding: 10px 20px;
  border: none;
  text-align: center;
}
.big_horizontal_button {
  width: 70%;
  background-color: #2196F3;
  color: white;
  border: none;
  margin: 20px 13%;
  padding: 8px 20px;
  text-align: center;
  display: block;
}
.header_container {
  display: flex;
  justify-content: center;
  padding: 15px 0px 0px 0px;
  text-align: center;
}
.header_container h1 {
  margin: 40px 0% 40px 0%;
}
.header_container h2 {
  margin-top: 40px;
}
.header_container ul {
  margin-top: 0;
  padding-left: 0px;
}
.header_container ul li {
  padding: 7px;
  font-size: 1em;
}
.header_container ul li button {
  color: white;
  background-color: #2196F3;
  padding: 10px 20px;
  border: none;
  text-align: center;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #2196F3;
  padding: 20px;
}
.nav li a {
  color: white;
}
.nav li a:hover {
  color: white;
}
.slider_and_form {
  width: 100%;
}
.slider_and_form img {
  margin: 0 auto;
  width: 100%;
}
.slider_and_form .slider_form {
  position: absolute;
  top: 300px;
  right: 100px;
  width: 220px;
  background: white;
  padding: 0px 0px 20px 0px;
}
.slider_and_form .slider_form input {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 80%;
  padding: 7px 0;
}
.slider_and_form .slider_form .submit_button {
  color: white;
  background-color: #2196F3;
  padding: 10px 20px;
  border: none;
  text-align: center;
}
.slider_and_form .slider_form .form_head {
  padding: 10%;
  text-align: center;
  color: white;
  background: #2196F3;
}
.push_form {
  top: 450px !important;
}
.clear {
  clear: both;
}
.why_we list img {
  vertical-align: bottom;
}
.left {
  float: left;
}
.colors {
  text-align: center;
}
.button_div {
  text-align: center;
}
.request_button {
  width: 70%;
  background-color: #2196F3;
  color: white;
  border: none;
  margin: 20px 13%;
  padding: 8px 20px;
  text-align: center;
  display: block;
}
.calc_table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #3F51B5;
}
.calc_table th {
  text-align: left;
  border: 1px solid #3F51B5;
  padding: 15px 20px;
}
.calc_table td {
  padding: 15px 20px;
  border: 1px solid #3F51B5;
}
.calc_table th:nth-child(2),
.calc_table th:nth-child(3),
.calc_table td:nth-child(2),
.calc_table td:nth-child(3) {
  text-align: center;
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
}
.modalDialog :target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 350px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #2196F3;
  color: white;
}
.form_modal {
  margin-top: 40px;
}
.form_modal > input {
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 0px;
  border: 2px solid #fff;
}
.close {
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 5px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
}
.close :hover {
  background: #00d9ff;
}
@media only screen and (max-width: 828px) {
  .nav {
    display: none;
  }
  .hamburger {
    padding: 15px 0;
    background-color: #2196F3;
  }
  .hamburger .line {
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 5px;
    background-color: white;
    margin-top: 7px;
  }
  .why_we ul {
    padding: 0 10px 0 10px;
  }
  .openMenu {
    display: block;
  }
  .openMenu li {
    width: 100%;
    padding: 10px;
  }
  .lineWrap {
    margin: 0 auto;
    width: 40px;
  }
  .transformation {
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .closeButton span {
    position: absolute;
  }
  .closeButton span:nth-child(1) {
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }
  .closeButton span:nth-child(2) {
    display: none;
  }
  .closeButton span:nth-child(3) {
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }
}
@media only screen and (max-width: 599px) {
  .header_container {
    display: block;
    text-align: center;
  }
  .header_container h1 {
    font-size: 1.25em;
    margin: 7px;
  }
  .header_container h2 {
    font-size: 1em;
    margin: 7px;
  }
  .header_container ul {
    padding-left: 0px;
    margin: 7px;
  }
  .header_container ul li {
    list-style: none;
    font-size: 1em;
  }
  [class*="col-"] {
    width: 100%;
  }
  .slider_form {
    display: none;
  }
  .colors {
    width: 90%;
    margin: 0 auto;
  }
  .colors img {
    width: 100%;
  }
}
