.container {
    display: block;
    width: 95%;
    margin: auto;        
}

.header_container, .inner_container {
    display: flex;
    justify-content: center;
}

.header_container>h1 {
   margin: 40px 2%;
   text-align: center;           
}

.header_container>h2 {
	font-family: Roboto;
	font-size: 36px;	  
    text-align: center;
}

.contacts li {
    text-align: center;
    padding: 7px;
    list-style: none;
}

.nav {
    list-style: none;
    text-align: center;
    display: flex;
}

.nav li {
    display: inline;
    margin: auto;
}

.nav a {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
}

.verticalform {
    clear: both;
    float: right;
    margin: 150px 10%;
    width: 220px;
          
}

.verticalform > form {
    width: 220px;    
}

.verticalform > form > input {
    width: 200px;
    margin: 10px;
    padding: 0px;
}

.verticalform > form >button {
    margin: 10px;
    width: 204px;
    padding: 0px;
}

section > h1 {
    text-align: center;
}

.request_text {
    display: inline-block;
    width: 220px;
    text-align: center;
}

.why_we_container > h1 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.list {
    display: flex;
    justify-content: center;
}

.list > ul {
    width: 49%;
}

.list > ul > li {
    list-style: none;
    margin-bottom: 80px;
}